/* ---------------------------------------------------------
    * Name: Ochaka - Multipurpose eCommerce HTML Template
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable
    
    * Reset css styles

    * Components

        * header
        * footer
        * accordion
        * animation
        * blog
        * box icon
        * button
        * carousel
        * avatar
        * form
        * hover
        * nice select
        * popup
        * product
        * shop
        * slider
        * testimonial
        * zoom
        
    * Section
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "./abstracts/index"as abstract;

@use "./utils/index"as utils;

/*---------- Reset css styles ----------- */
@use "reset";

/*------------ Components ---------------- */
// @use "./component/index"as component;






