
$font-family: (
    'ff': (
        'teko': "'Teko', serif",
        'body': "'Inter', sans-serif",
        'heading': "'Inter', sans-serif",
        'inter': "'Inter', sans-serif",
        'p': "'Inter', sans-serif",
        'besley': "'Besley', serif",
        'mango-thin': "'MangoGrotesqueThin', serif",
        'mango-light': "'MangoGrotesqueLight', serif",
        'mango': "'MangoGrotesque', serif",
        'mango-medium': "'MangoGrotesqueMed', serif",
        'mango-semibold': "'MangoGrotesqueSemBd', serif",
        'mango-bold': "'MangoGrotesque', serif",
        'clash-light': "'ClashDisplay-Light', serif",
        'clash-regular': "'ClashDisplay-Regular', serif",
        'clash-medium': "'ClashDisplay-Medium', serif",
        'clash-semibold': "'ClashDisplay-Semibold', serif",
        'clash-bold': "'ClashDisplay-Bold', serif",
        'grotesk': "'Space Grotesk', serif",
        'platform': "'Platform', serif",
        'playfair': "'Playfair Display', serif",
        'satisfy': "'Satisfy', cursive",
        'dirtyline': "'dirtyline-36daysoftype-2022', serif",
        'phudu': "'Phudu', serif",
        'poppins': "'Poppins', serif",
        'onest': "'Onest', serif",
        'fontawesome': '"Font Awesome 6 Pro"',
    )
);


// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 16px,
    )
);




h1,
.h1 {
  font-size: clamp(30px, 4.5vw, 48px);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(26px, 3vw, 36px);
  line-height: 1.3;

  &.type-semibold {
    line-height: 1.2;
    font-weight: 600;
  }
}

h3,
.h3 {
  font-size: clamp(20px, 2.5vw, 28px);
  line-height: 1.4;
}

h4,
.h4 {
  font-size: clamp(18px, 2.2vw, 22px);
  line-height: 1.5;
}

h5,
.h5 {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.5;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 1.5;
}
