$font-main: "", sans-serif;
$font-sora: "", sans-serif;
$font-2: "", cursive;
$fontIcon: "icomoon";

:root {
  // color
  --white: #ffffff;
  --black: #000000;
  // --main: #1F1F1F;

  --primary: #f7797d;
  --secondary: #F9CB99;
  --third: #689B8A;

  --text: #5f615e;
  --text-2: #8a8c8a;
  --text-3: #acafab;
  --text-4: #e4e4e4;
  --text-5: #ffffff80;
  --text-6: #00000080; //opacity 50%
  --text-7: #b3907a;

  --bg: red;
  --bg-2: #f5f5f5;
  --bg-3: #021a62;
  --bg-4: #534696;
  --bg-5: #c8a07c;
  --bg-6: #b2cbea;
  --bg-7: #ec6e1a;
  --bg-8: #fafafa;
  --bg-9: #f6f4f1;
  --bg-10: #c8102e12;
  --bg-11: #eedfc6;
  --bg-12: #f7f7f7;
  --bg-13: #f8f8f8;
  --bg-14: #4f684c;
  --bg-15: #42514a;
  --bg-16: #f7ede4;
  --bg-17: #fafafd;

  --line: #ededed;
  --line-2: #ffffff33; //opacity 20%
  --line-3: #ffffff1a; //opacity 10%
  --line-4: #ffffff80; //opacity 50%
  --line-5: #ffffffb3; //opacity 70%
  --line-6: #e7e7e7;
  --line-7: #e2e2e2;
  --line-8: #00000012; //opacity 7%
  --line-9: #ffffff4d; //opacoty 30%

  --shadow-1: #a3a3a340;

  --linear-1: linear-gradient(
    180deg,
    rgba(246, 221, 190, 0) 0%,
    rgba(246, 221, 190, 0.5) 100%
  );
  --linear-2: linear-gradient(137.6deg, #c09c71 23.87%, #664b18 99.83%);
  --linear-3: linear-gradient(285.63deg, #4b2c17 5.45%, #905e3d 94.52%);
  --linear-4: linear-gradient(133.57deg, #fff0d3 25.62%, #ebd1a2 100%);
  --linear-5: linear-gradient(138.03deg, #fff3e5 23.68%, #ffcda2 100%);

  --verified: #00bf43;
  --success: #28a745;
  --error: #ff4949;
}

.primary {
  --primary: var(--primary);
}

.primary-2 {
  --primary: var(--secondary);
}

.primary-3 {
  --primary: var(--third);
}

.primary-4 {
  --primary: rgb(104, 91, 199);
}

.primary-5 {
  --primary: rgb(232, 83, 49);
}

.primary-6 {
  --primary: rgb(88, 126, 87);
}
