@use "../abstracts/index" as *;

.tf-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 40px;
  position: relative;
  background-color: var(--black);
  color: var(--white);
  border-radius: 999px;
  font-weight: 600;

  .icon {
    font-size: 18px;
  }

  &.bg-green {
    background-color: #499f30 !important;
  }

  &.type-very-small {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }

  &.style-2 {
    color: var(--black);
    background-color: var(--bg);

    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }

  &.btn-white {
    background-color: var(--white);
    color: var(--black);
  }

  &.btn-fill-sec {
    background-color: var(--secondary);
    color: var(--bg-4);
  }

  &.style-line {
    border: 1px solid var(--line);
    background-color: var(--white);
    color: var(--black);

    &:hover {
      background-color: var(--line);
    }
  }

  &.btn-primary {
    background-color: var(--primary);

    &:hover {
      background-color: var(--black);
    }
  }

  &.btn-secondary {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--black);

    &:hover {
      background-color: var(--primary);
      color: var(--white);
      border-color: var(--primary);
    }
  }

  &.btn-purple {
    background-color: var(--bg-4);
    color: var(--white);
  }

  &.btn-yellow {
    background-color: #ffc520;
    color: var(--black);
    font-weight: 600;
  }

  &.btn-blue {
    background-color: #436be41a;
    color: var(--black);

    &:hover {
      background-color: #436be4;
      color: var(--white);
    }
  }

  &.w-100 {
    padding-left: 12px;
    padding-right: 12px;
  }

  &.style-transparent {
    background-color: transparent;
    color: var(--black);
    @include transition3;
    cursor: pointer;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  &.type-small-5 {
    padding: 8px 20px;
  }

  @include res(lg, min) {
    &.type-small {
      padding: 12px 24px;
    }

    &.type-small-2 {
      padding-left: 30.5px;
      padding-right: 30.5px;
    }

    &.type-small-3 {
      padding: 16px 25px;
    }

    &.type-small-4 {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &.style-line {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  @include res(xl, min) {
    &.type-large {
      padding: 19px 74px;
    }

    &.px-xxl-32 {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  @include res(lg) {
    padding: 13px 24px;

    &.style-line {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &.w-100 {
      padding: 13px;
    }
  }
}

.animate-btn {
  position: relative;
  overflow: hidden;

  &:hover {
    &::after {
      animation: shine-reverse 1s forwards;
    }
  }
}

.animate-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100%;
  opacity: 0.6;
}

button.animate-btn::after,
.animate-btn.tf-btn::after {
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(255, 255, 255, 0.4),
    rgba(0, 0, 0, 0) 70%
  );
}

.animate-btn.animate-dark::after {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(0 0 0 /0.25),
    transparent
  );
}

.tf-btn-link {
  display: flex;
  align-items: center;
  gap: 12px;

  .icon {
    font-size: 18px;
  }
}

.tf-btn-line {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1.92px; //12%
  text-transform: uppercase;
  color: var(--black);
  position: relative;
  @include transition3;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background: linear-gradient(to right, var(--primary) 50%, var(--black) 50%);
  background-size: 200% 100%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s linear;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 3px;
    height: 1px;
    background-color: var(--black);
    @include transition3;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    bottom: 3px;
    height: 1px;
    background-color: var(--primary);
    transition: width 0.3s linear;
    z-index: 1;
  }

  &.style-white {
    color: var(--white);
    background: linear-gradient(to right, var(--primary) 50%, var(--white) 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s linear;

    &::after {
      background-color: var(--white);
    }
  }

  &.style-gray {
    color: var(--text-2);
    background: linear-gradient(to right, var(--black) 50%, var(--text-2) 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s linear;

    &::after {
      background-color: var(--text-2);
    }

    &::before {
      background-color: var(--black);
    }
  }

  &.has-icon {
    gap: 8px;

    .icon {
      font-size: 20px;
    }
  }

  &.none-line {
    &::before,
    &::after {
      display: none;
    }
  }

  &:hover {
    background-position: left;

    &::before {
      width: 100%;
    }
  }

  &.active {
    background-position: left;

    &::before {
      width: 100%;
    }
  }

  @include res(xl, min) {
    &.style-large {
      &::after,
      &::before {
        height: 3px;
        bottom: 0;
      }
    }

    &.line-bot-0 {
      &::after,
      &::before {
        bottom: 0;
      }
    }
  }

  @include res(sm) {
    &.sm-letter-1 {
      letter-spacing: 1px;
    }
  }
}

.tf-loading {
  font-size: 14px;
  line-height: 20px;
  width: auto;
  height: 42px;
  min-width: 118px;
  padding: 10px;

  &.loadmore {
    .spinner-circle {
      display: none;
    }

    &.loading {
      .spinner-circle {
        display: block;
      }

      .text {
        display: none;
      }
    }

    &:hover {
      .spinner-child {
        &::before {
          background-color: var(--white);
        }
      }
    }

    .spinner-child {
      &::before {
        background-color: var(--main);
        @include transition3;
      }
    }
  }
}

.spinner-circle {
  width: 24px;
  height: 24px;
  position: relative;

  .spinner-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &::before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 20%;
      height: 20%;
      background-color: var(--white);
      border-radius: 100%;
      -webkit-animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
      animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
    }
  }

  .spinner-circle2 {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);

    &::before {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }

  .spinner-circle3 {
    -webkit-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);

    &::before {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  .spinner-circle4 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);

    &::before {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
  }

  .spinner-circle5 {
    -webkit-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    transform: rotate(160deg);

    &::before {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
  }

  .spinner-circle6 {
    -webkit-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);

    &::before {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
  }

  .spinner-circle7 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);

    &::before {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
  }

  .spinner-circle8 {
    -webkit-transform: rotate(280deg);
    -ms-transform: rotate(280deg);
    transform: rotate(280deg);

    &::before {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }

  .spinner-circle9 {
    -webkit-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    transform: rotate(320deg);

    &::before {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
  }
}

.tf-pin-btn {
  cursor: pointer;
  @include transition3;
  position: relative;

  span {
    @include flex(center, center);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #00000033;
    @include transition3;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: solid 1px #00000033;
      border-radius: 50%;
      @include transition3;
    }

    &::before {
      animation: ripple-line 2s linear infinite;
    }

    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--white);
    }
  }
}

.tf-btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);

  i {
    @include transition3;
    color: var(--black);
    font-size: 20px;
  }

  &.style-white {
    color: var(--white);

    i {
      color: var(--white);
    }
  }

  &:hover {
    color: var(--primary);

    i {
      animation: link-icon 0.3s linear;
      color: var(--primary);
    }
  }
}


