@use "../abstracts/index" as *;

.tf-table-page-cart {
  margin-bottom: 30px;

  thead {
    tr {
      background-color: var(--bg-2);
    }
  }

  tr {
    th {
      font-weight: 600;
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--line);
      vertical-align: middle;
    }
    td {
      vertical-align: middle;
    }
  }

  @include res(md, min) {
    th,
    td {
      &:last-child {
        width: 56px;
        padding: 0;
        text-align: center;
      }
    }
  }

  @include res(xl, min) {
    margin-bottom: 48px;

    th,
    td {
      &:first-child {
        width: 350px;
      }
    }

    tr {
      th {
        // padding: 16px 24px;
        color: var(--black);
      }

      td {
        // padding: 29px 24px;
      }
    }
  }

  @include res(xxl, min) {
    table-layout: fixed;

    th,
    td {
      &:first-child {
        width: 458px;
      }
    }
  }

  @include res(md) {
    thead {
      display: none;
    }
  }
}

.tf-cart_item {
  .cart_product {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .cart_remove {
    font-size: 24px;
    cursor: pointer;
  }

  .img-prd {
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .infor-prd {
    display: grid;
    gap: 8px;
  }

  .prd_select {
    display: flex;
    align-items: center;
    color: var(--text);
  }

  @include res(md, min) {
    .img-prd {
      max-width: 90px;

      img {
        aspect-ratio: 1;
      }
    }
  }

  @include res(md) {
    margin-bottom: 15px;
    padding-inline-start: 94px;
    min-height: 140px;
    display: block;
    font-size: 12px;
    font-weight: 500;
    position: relative;

    .img-prd {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      width: 80px;
      max-height: 110px;
      flex-shrink: 0;
    }

    td {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0;
      margin: 0;

      &:not(:last-child) {
        border-bottom: 1px solid var(--line);
      }
    }

    td[data-cart-title]:before {
      content: attr(data-cart-title);
      color: var(--black);
      text-align: start;
      flex: 1 1 auto;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.size-select {
  position: relative;

  select {
    -webkit-appearance: none;
    appearance: none;
    outline: 0 !important;
    border: 0;
    padding-right: 14px;
    color: var(--text);
    cursor: pointer;
  }

  option {
    text-align: center;
  }

  &::after {
    font-family: $fontIcon;
    position: absolute;
    content: "\e916";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: var(--text);
    pointer-events: none;
  }
}

.cart_quantity {
  .wg-quantity {
    display: inline-flex;
    padding: 2px 4px;
  }

  @include res(sm) {
    .btn-quantity,
    .quantity-product {
      width: 30px;
      height: 30px;
    }
  }
}

.fl-sidebar-cart {
  .title {
    margin-bottom: 24px;
  }
}

.box-order-summary {
  padding: 30px 16px;

  .subtotal,
  .discount,
  .ship {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--line-6);
  }

  .ship {
    display: grid;
    gap: 12px;
    margin-bottom: 24px;
  }

  .ship-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    display: flex;
    align-items: center;
    gap: 8px;

    label {
      @include flex(center, space-between);
      flex-grow: 1;
      color: var(--text);
      cursor: pointer;
    }

    input:checked ~ label {
      color: var(--black);
    }
  }

  .box-progress-checkout {
    display: grid;
    gap: 12px;
  }

  .check-agree {
    display: flex;
    gap: 8px;
    align-items: center;

    label a {
      font-weight: 600;
      text-decoration: underline;
      text-transform: capitalize;
    }
  }

  .total-order {
    margin-bottom: 24px;
  }

  @include res(xl, min) {
    padding: 32px;
  }
}
