/*------------ header ---------------- */
@forward "header";
/*------------ footer ---------------- */
@forward "footer";
/*------------ slider banner ---------------- */
@forward "slider";
/*------------ button ---------------- */
@forward "button";
/*------------ form ---------------- */
@forward "form";
/*------------ nice select ---------------- */
@forward "nice-select";
/*------------ carousel ---------------- */
@forward "carousel";
/*------------ pop up ---------------- */
@forward "pop-up";
/*------------ box icon ---------------- */
@forward "box-icon";
/*------------ hover ---------------- */
@forward "hover";
/*------------ product ---------------- */
@forward "product";
/*------------ blog ---------------- */
@forward "blog";
/*------------ testimonial ---------------- */
@forward "testimonial";
/*------------ accordion ---------------- */
@forward "accordion";
/*------------ zoom ---------------- */
@forward "zoom";
/*------------ shop ---------------- */
@forward "shop";
/*------------ animation ---------------- */
@forward "animation";
/*------------ tabs ---------------- */
@forward "tabs";
/*------------ cart ---------------- */
@forward "cart";