@use "../utils"as *;

//------- elegant start end---------//
.tp-slider-elegant{
	&-area{
		// height: 448px;
        aspect-ratio: 3 / 1;
		@media #{$md,$xs} {
            aspect-ratio: 1;
			// height: auto;
			padding-bottom: 40px;
		}
	}
	&-wrapper{
		height: 100%;
	}
    &-title{
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: var(--tp-common-white);
    }
    &-inner-wrap{
		height: 100%;
        width: 100%;
        display: flex;
        grid-area: list;
        box-sizing: border-box;
        @media #{$xs}{
            flex-wrap: wrap;
        }
    }
    &-item{
        width: calc(3 * calc(1/10 * 100%));
        height: 100%;
        display: block;
        position: relative !important;
        left:0!important;
        top:0!important;
        margin:0px 15px;
        transition:width 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
        @media #{$xs}{
            width: 100%;
            margin-bottom: 30px;
        }
        &:hover{
            width:calc(8 * calc(1/10 * 100%));
            @media #{$xs}{
                width: 100%;
            }
        }
    }
    &-thumb{
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//------- elegant slider end---------//