@use "../../public/scss/utils"as *;

.social {
  &-instagram {
    &-item {
      position: relative;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
      &:hover {
        &::before {
          opacity: 1;
          visibility: visible;
        }
        & .social-instagram-icon {
          opacity: 1;
          margin-top: 0;
        }
        & img {
          transform: scale(1.1);
        }
      }
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        @include tp-transition();
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.4);
      }
      & img {
        width: 100%;
        transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
      }
    }
    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      cursor: pointer;
      margin-top: 15px;
      z-index: 3;
      pointer-events: none;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
      -webkit-transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
    }
  }
}
